@model AplicacaoDeEstudoASPNETMVC.Models.Cliente

@{
    ViewBag.Title = "Detalhes";
}
<div class="container body-content">
    <div class="row">
        <h2 class="space">Detalhes</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Endereco)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefone)
                </dt>

                <dd class="space">
                    @Html.DisplayFor(model => model.Telefone)
                </dd>
                <hr />


            </dl>
            <div class="form-group">
                <div class="btn-space">
                    <a class="btn btn-add" href="@Url.Action("Edit", "Clientes", new { id = Model.IdCliente })">Editar</a>
                    <div>
                        <a class="btn btn-add" href="/Clientes">Voltar a página inicial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>