@model AplicacaoDeEstudoASPNETMVC.Models.Cliente
@{
    ViewBag.Title = "Editar";
}
<div class="container body-content">
    <div class="row">
        <h2 class="space">Editar Cadastro</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdCliente)
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group space ">
                    @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", placeholder = "(00) 00000-0000", data_tipo = "telefone", autocomplete = "off" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <hr />

                <div class="form-group space">
                    <div class="btn-space">
                        <input type="submit" value="Salvar" class="btn btn-default" />
                        <a class="btn btn-add" href="/Clientes">Voltar</a>
                    </div>
                </div>
            </div>
        }
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/inputmask")

            <script>
                $(function () {
                    $("input[data-tipo='telefone']").mask("(99) 99999-9999", { reverse: true });
                });
            </script>
        }
    </div>
</div>